table{
    border-collapse:collapse;
    border:none;
    border-radius:2px;
}
td{
    border-left:2px solid black;
}
td:first-child{
    border-left:none;
}
th:first-child{
    border-top-left-radius:15px;
}
th:last-child{
    border-top-right-radius:15px;
}

table th{
    background-color:black;
    color:white;
    border-bottom:1px solid black;
    
}

table tr:nth-child(odd){
    background-color:white;
    color:black;
}
table tr:nth-child(even){
    background-color:gray;
    color:black;
}

tr:last-child>td:first-child{
    border-bottom-left-radius:15px;
}
tr:last-child>td:last-child{
    border-bottom-right-radius:15px;
}

tbody tr:hover{
    background-color:red;
    color:white;
}